*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}
@media only screen and  (max-width: 992px){
    .dropdown-menu{
        background-color: rgb(233, 18, 72);
        
    }
    .nav_button{
        width: 80%;
    }
    .card{
        display: none !important;
    }
    h1{
        font-size: 20px !important;
        color: red !important;
        
    }
     .images1 img{
        height:200px !important;
 
    }
    .ddd{display: block !important;}
}
.navbar-brand img{
    height: 60px;
    width: 80px;
    margin-right: 20px;
}
.bg{
    background-color: rgb(48, 29, 34);
}
.drop{
    margin-right: 250px;
}
.dropdown-menu{
    background-color: rgb(243, 145, 169);
    width: 200px;
    
}
.nav_button{
    width: 210px;
}
.smile{
    width: 50px;
    height: 30px;
}
.text-col{
    color: red !important;
    font-size: 28px;
}
.dropdown-item{
    color: red;
}


.images1 img{
    height:300px;
    width: 100%;

}
